{% extends "layout.html.twig" %}

{% block content %}
	<form
		method="POST">
		<fieldset
			class="uk-fieldset">

			<legend
				class="uk-legend">
				Legend
			</legend>

			<div
				class="uk-margin">
				<input
					name="sujet"
					class="uk-input"
					type="text"
					placeholder="sujet"
					aria-label="sujet">
			</div>

			<div
				class="uk-margin">
				<select
					name="wilder"
					class="uk-select"
					aria-label="Select">
					<option>
						Etienne
					</option>
					<option>
						Yavuz
					</option>
				</select>
			</div>

			<div
				class="uk-margin">
				<textarea
					name="description"
					class="uk-textarea"
					rows="5"
					placeholder="Textarea"
					aria-label="Textarea"></textarea>
			</div>

			<div
				class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
				<label>
					<input
						class="uk-radio"
						type="radio"
						name="radio2"
						checked>
					A
				</label>
				<label>
					<input
						class="uk-radio"
						type="radio"
						name="radio2">
					B
				</label>
			</div>

			<div
				class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
				<label>
					<input
						name="checkbox"
						class="uk-checkbox"
						type="checkbox"
						checked>
					A
				</label>
				<label>
					<input
						name="checkbox"
						class="uk-checkbox"
						type="checkbox">
					B
				</label>
			</div>
			<button
				class="uk-button uk-button-primary">
				Je teste
			</button>
		</fieldset>
	</form>
{% endblock %}
